name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.x'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev xorg-dev libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev libxxf86vm-dev
      - name: Go test
        run: go test ./...
      - name: Go vet
        run: go vet ./...
      - name: GolangCI-Lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.7.2
          args: --timeout=5m
